.scfe-block-wrapper.tube-dashboard {
	.widget-wrapper {
		justify-content: center;
		@include flex_columns(2, 30px);
		.widget {
			padding: 0 20px;
			background: white;
			box-shadow: 0 1px 3px rgba(68,68,85,.4);
			border-radius: 20px;
			max-width: 500px;
			@include flex_single_column(0px);
			.widget-heading {
				border-bottom: 1px solid rgba(104,117,202,.25);
				padding: 15px 0;
			}
			.widget-body {
				padding-top: 15px;
				min-height: 150px;
			}
			.widget-cta {
				margin-top: auto;
				padding: 15px 0;
				text-align: center;
			}
		}
		@media (max-width: 700px) {
			@include flex_columns(1, 30px);
		}
	}
}