@mixin category_colors {
	&.mus {
		--color: var(--color-mus);
	}
	&.per {
		--color: var(--color-per);
	}
	&.sng {
		--color: var(--color-sng);
	}
}

.reference-score-wrapper {
	--padding: 20px;
	background: white;
	padding: 0 var(--padding);
	border-radius: 20px;
	box-shadow: 0 1px 3px rgba(68,68,85,.4);
	.reference-score-wrapper-heading {
		border-bottom: 1px solid rgba(104,117,202,.25);
		padding: 15px 0;
		font-size: 18px;
		font-weight: 600;
	}
	.reference-score-display-wrapper {
		padding: var(--padding) 0;
		@include flex_columns(4, var(--padding));
		align-items: flex-start;

		.reference-score-display {
			--border-width: 5px;
			--color: #445;
			--inner-padding: 10px;
			border: var(--border-width) solid var(--color);
			border-radius: 12px;
			text-align: center;
			box-sizing: border-box;
			font-size: 20px;
			font-weight: 600;
			min-width: 150px;
			@include category_colors;
			.reference-score-display-heading,
			.reference-score-display-footer {
				background: var(--color);
				color: white;
			}
			.reference-score-display-heading,
			.reference-score-display-footer {
				padding: var(--inner-padding) 0;
			}
			.reference-score-display-heading {
				padding-top: calc(var(--inner-padding) - var(--border-width));
				position: relative;
				.history {
					--size: 28px;
					position: absolute;
					right: var(--border-width);
					top: 50%;
					transform: translateY(calc(-50% - var(--border-width) / 2));
					height: var(--size);
					width: var(--size);
					border-radius: 100%;
					background: rgba(black, 35%);
					font-size: 14px;
					@include flex_center;
					cursor: pointer;
				}
			}
			.reference-score-display-body {
				padding: calc(var(--inner-padding) * 1) 0;
				.score-view,
				.score-edit {
					height: 40px;
				}
				.score-view {
					@include flex_center;
				}
				.score-edit {
					display: none;
					padding: 0 var(--inner-padding);
					box-sizing: border-box;
					.submit-score-edit {
						background: #445;
						color: white;
						@include flex_center;
						padding: 0 calc(var(--inner-padding) + 2px);
						cursor: pointer;
						font-size: 16px
					}
				}
				input[type="number"] {
					&::-webkit-inner-spin-button {
						display: none;
					}
				}
			}
			.reference-score-display-footer {
				--inner-padding: 5px;
				padding-bottom: calc(var(--inner-padding) - var(--border-width));
				font-size: 16px;
				font-weight: 500;
				.edit-score-button,
				.cancel-edit-score {
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 4px;
				}
				.cancel-edit-score {
					display: none;
					.fas {
						font-size: 20px;
					}
				}
			}
			&.editing {
				.reference-score-display-body {
					.score-view {
						display: none;
					}
					.score-edit {
						display: flex;
					}
				}
				.edit-score-button {
					display: none;
				}
				.cancel-edit-score {
					display: flex;
				}
			}
		}
	}
	&.contest-scores {
		background: #889;
		color: white;
		.reference-score-wrapper-heading {
			border-color: rgba(white, .25);
			.heading-subtitle {
				font-size: 13px;
				font-style: italic;
				font-weight: 500;
				line-height: 1;
				margin-top: 5px;
			}
		}
		.reference-score-display {
			background: white;
			.reference-score-display-body {
				color: #445;
			}
		}
				
		.score-edit {
			padding: 0 var(--inner-padding);
			input[type="number"] {
				font-size: 20px !important;
				text-align: center;
			}
		}
	}
}


body.wp-admin .reference-score-wrapper {
	box-shadow: none;
}

.video-display {
	@include flex_columns(3, 30px);
	row-gap: 60px;
}

.single-bbs-video {
	.entry-title {
		display: none;
	}
}

.scfe-modal-wrapper {
	.scfe-modal .scfe-modal-header>:not(.scfe-modal-close) {
		&.reference-score-modal-heading {
			--color: #445;
			background: var(--color);
			color: white;
			padding: 10px 0 !important;
			margin-top: 15px;
			@include flex_single_column(5px);
			@include category_colors;
			.reference-score-modal-title {
				font-size: 22px;
				font-weight: 600;
			}
			.reference-score-modal-subtitle {
				font-size: 14px;
			}
		}
	}
	.reference-score-table {
		--color: #445;
		--border-width: 3px;
		border: var(--border-width) solid var(--color);
		border-top: none;
		border-collapse: collapse;
		font-size: 16px;
		font-weight: 500;
		@include category_colors;
		th,
		td {
			padding: 6px 10px !important;
			border: 1px solid rgb(from var(--color) r g b / 40%);
		}
		th {
			background: var(--color);
			color: white;
		}
		tr.contest-score {
			td {
				background: var(--color);
				color: white;
				padding: calc(6px - var(--border-width)) 10px !important;
			}
		}
	}
}

.video-search-wrapper {
	--gap: 50px;
	@include flex_single_column(var(--gap));
}

.video-search-filters {
	--gap: 15px;
	--padding-y: 12px;
	--inner-height: 20px;
	--border-width: 1px; 
	@include flex_columns(4, var(--gap));
	row-gap: 30px;
	margin-bottom: 50px;

	> .input-wrapper {
		--input-wrapper-gap: 6px;
		@include flex_single_column(var(--input-wrapper-gap));
		label {
			font-size: 16px;
			font-weight: 600;
		}
	}

	input,
	select,
	button {
		height: calc(var(--inner-height) + 2 * var(--padding-y) + 2 * var(--border-width));
	}
	select.scoring-category-colors {
		--opacity: 80%;
		--color: rgba(255,255,255, var(--opacity));
		--bg-color: #445;
		background-image: linear-gradient(45deg,transparent 50%,var(--sc-text) 50%),linear-gradient(135deg,var(--sc-text) 50%,transparent 50%),linear-gradient(to right,#ccc,#ccc);
		background-image: linear-gradient(45deg,transparent 50%,var(--color) 50%),linear-gradient(135deg,var(--color) 50%,transparent 50%),linear-gradient(to right,var(--color),var(--color));
		color: white;
		background-color: var(--bg-color);
		border: 1px solid #dddde2;
		option {
			background-color: var(--bg-color);
			&[value=""] {
				background-color: #445 !important;
			}
		}
		&:focus {
			border-color: #dddde2;
		}

		$category_names: mus, per, sng;
		@each $category_name in $category_names {
			&:has(option[value="#{$category_name}"]:checked),
			option[value="#{$category_name}"] {
				--bg-color: var(--color-#{$category_name});
			}
		}
	}
	.min-max-wrapper {
		@include flex_columns(2, var(--gap));
	}
	@media (max-width: 800px) {
		@include flex_columns(2, var(--gap));
	}
	@media (max-width: 450px) {
		@include flex_columns(1, var(--gap));
	}

	&:has(select[name="contestant_type"] > option[value="quartet"]:checked) {
		.input-wrapper.size {
			display: none;
		}
	}



	&.in-progress {
		--gap: 10px;
		row-gap: var(--gap);
		> .input-wrapper {
			padding: 15px;
			&.complete {
				background: rgba(mediumaquamarine, .45);
			}
			&.incomplete {
				background: rgba(red, .25);
			}
		}
	}
}


.video-list {
	@include flex_single_column(20px)
}

.pagination {
	position: sticky;
	bottom: 0;
	padding: 30px 0;
	background: white;
	@include flex_row_centered(15px);
	.pagination-buttons {
		@include flex_row_centered(2px);
		.pagination-button {
			--size: 40px;
			background: #445;
			color: white;
			width: var(--size);
			height: var(--size);
			@include flex_center;
			&.disabled {
				opacity: .3;
			}
		}
	}
}